html {
    height: 100%;
    background: rgb(226, 221, 211);
}

body {
    font-family: garamond;
    font-size: 20px;
    margin:0;
    background: rgb(226, 221, 211);
}

p {
    position: relative;
    margin-left: 250px;
    margin-right: auto;
    margin-top: 70px;
}

h1 {
    font-size: 35px;
    margin-left: 0px;
    margin-top: 120px;
}

a {
    color: black;
    text-decoration:none;
}

a:hover {
    color: #556B2F;
    text-decoration:none;
}

iframe {
    position: relative;
    margin-top: 100px;
    margin-left: 300px;
}

.sidenav {
    position: fixed;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

.column {
    padding: 10px;
}

.logos:hover{
    filter: opacity(0.5);
}

.row {
    margin-left: 60px;
    margin-top: 20px;
}

.main {
    margin-left: 275px;
    background: rgb(226, 221, 211);
}

#quote {
    margin-top:100px;
    margin-left:300px;
    font-style:italic;
}

#stair1 {
    margin-top: -100px;
    margin-left: 150px;
}

#stair3 {
    margin-left: 150px;
}

#sun {
    height: 250px;
    width: 250px;
    margin-left: 800px;
}

#myName {
    margin-left: 10px;
    margin-top:300px;
}

.hidden{
  display: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
  
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}